## Importing Libraries

In [95]:
import numpy as np
import pandas as pd

In [2]:
True_news=pd.read_csv("True.csv")
False_news=pd.read_csv("Fake.csv")

In [3]:
True_news

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017"
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017"
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017"
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017"
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017"

In [4]:
False_news

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"
...,...,...,...,...
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016"
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016"
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016"
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016"
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016"

In [5]:
True_news['label']=0
False_news['label']=1 #adding a new column

In [6]:
True_news

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",0
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",0
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",0
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",0
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",0
...,...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",0
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",0
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",0
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",0
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",0

In [7]:
False_news

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",1
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",1
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",1
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",1
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",1
...,...,...,...,...,...
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",1
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",1
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",1
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",1
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",1

In [8]:
dataset1=True_news[["text","label"]]
dataset2=False_news[["text","label"]]#extracting the required info only into another dataset

In [9]:
dataset1

                                                    text  label
0      WASHINGTON (Reuters) - The head of a conservat...      0
1      WASHINGTON (Reuters) - Transgender people will...      0
2      WASHINGTON (Reuters) - The special counsel inv...      0
3      WASHINGTON (Reuters) - Trump campaign adviser ...      0
4      SEATTLE/WASHINGTON (Reuters) - President Donal...      0
...                                                  ...    ...
21412  BRUSSELS (Reuters) - NATO allies on Tuesday we...      0
21413  LONDON (Reuters) - LexisNexis, a provider of l...      0
21414  MINSK (Reuters) - In the shadow of disused Sov...      0
21415  MOSCOW (Reuters) - Vatican Secretary of State ...      0
21416  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...      0

[21417 rows x 2 columns]

In [10]:
dataset2

                                                    text  label
0      Donald Trump just couldn t wish all Americans ...      1
1      House Intelligence Committee Chairman Devin Nu...      1
2      On Friday, it was revealed that former Milwauk...      1
3      On Christmas day, Donald Trump announced that ...      1
4      Pope Francis used his annual Christmas Day mes...      1
...                                                  ...    ...
23476  21st Century Wire says As 21WIRE reported earl...      1
23477  21st Century Wire says It s a familiar theme. ...      1
23478  Patrick Henningsen  21st Century WireRemember ...      1
23479  21st Century Wire says Al Jazeera America will...      1
23480  21st Century Wire says As 21WIRE predicted in ...      1

[23481 rows x 2 columns]

In [37]:
dataset=pd.concat([dataset1,dataset2])

In [39]:
dataset

                                                    text  label
0      WASHINGTON (Reuters) - The head of a conservat...      0
1      WASHINGTON (Reuters) - Transgender people will...      0
2      WASHINGTON (Reuters) - The special counsel inv...      0
3      WASHINGTON (Reuters) - Trump campaign adviser ...      0
4      SEATTLE/WASHINGTON (Reuters) - President Donal...      0
...                                                  ...    ...
23476  21st Century Wire says As 21WIRE reported earl...      1
23477  21st Century Wire says It s a familiar theme. ...      1
23478  Patrick Henningsen  21st Century WireRemember ...      1
23479  21st Century Wire says Al Jazeera America will...      1
23480  21st Century Wire says As 21WIRE predicted in ...      1

[44898 rows x 2 columns]

In [58]:
dataset.shape

(44898, 2)

In [59]:
#Check for null values
dataset.isnull().sum()

text     0
label    0
dtype: int64

In [60]:
dataset['label'].value_counts()

1    23481
0    21417
Name: label, dtype: int64

In [61]:
dataset=dataset.sample(frac=1)#Shuffles the rows in the dataset

In [62]:
dataset

                                                    text  label
9482   information disturbing wake call american left...      1
17796  bangkok reuters thailand putting finishing tou...      0
3358   turn rex tillerson tie russia even deeper prev...      1
10323  washington reuters u democratic presidential c...      0
17343                                 take filthy animal      1
...                                                  ...    ...
9353   reuters mayor police chief cleveland next week...      0
12195  brilliant outspoken beautiful tomi lahren nail...      1
5194   san jose police department plagued accusation ...      1
22931  setting stage press president war u ruling ide...      1
1360   ankara reuters turkish embassy washington said...      0

[44898 rows x 2 columns]

# Nlp

In [63]:
import nltk
import re 
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

In [64]:
ps=WordNetLemmatizer()

In [65]:
stopwords = stopwords.words('english')

In [66]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\ADMIN\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [67]:
def clean_row(row):
    row = row.lower()  # Convert text to lowercase
    row = re.sub('[^a-zA-Z]',' ', row)  # Remove all non-alphabetic characters
    token = row.split()  # Split the row into tokens
    
    # Lemmatize words and remove stopwords
    news = [ps.lemmatize(word) for word in token if not word in stopwords]
    cleaned_news = ' '.join(news)
    return cleaned_news

In [68]:
dataset['text']

9482     information disturbing wake call american left...
17796    bangkok reuters thailand putting finishing tou...
3358     turn rex tillerson tie russia even deeper prev...
10323    washington reuters u democratic presidential c...
17343                                   take filthy animal
                               ...
9353     reuters mayor police chief cleveland next week...
12195    brilliant outspoken beautiful tomi lahren nail...
5194     san jose police department plagued accusation ...
22931    setting stage press president war u ruling ide...
1360     ankara reuters turkish embassy washington said...
Name: text, Length: 44898, dtype: object

In [69]:
"""import nltk
nltk.download('omw-1.4')"""

"import nltk\nnltk.download('omw-1.4')"

In [70]:
dataset['text'] = dataset['text'].apply(lambda x : clean_row(x))

In [54]:
dataset['text']

1907     donald trump vladimir putin puppet anymore ger...
14501    beirut reuters lebanon foreign minister gebran...
6202     speaking lady view via satellite anaheim ca ca...
15804    nothing best queen queen mom mother law presid...
6155     thing got little heated press conference presi...
                               ...
17796    worker th floor miami beach hotel confronted s...
10060    former director national intelligence james cl...
2027     washington reuters u court thursday rejected b...
15768    american taxpayer hook le predicted still huge...
7295     yet another responsible gun owner caused child...
Name: text, Length: 44898, dtype: object

In [71]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [27]:
TfidfVectorizer

sklearn.feature_extraction.text.TfidfVectorizer

In [72]:
vectorizer=TfidfVectorizer(max_features=50000,lowercase=False,ngram_range=(1,2))

In [75]:
X=dataset.iloc[:35000,0]
y=dataset.iloc[:35000,1]

In [78]:
X

9482     information disturbing wake call american left...
17796    bangkok reuters thailand putting finishing tou...
3358     turn rex tillerson tie russia even deeper prev...
10323    washington reuters u democratic presidential c...
17343                                   take filthy animal
                               ...
12131    rome reuters united state denied suggestion un...
1207     washington reuters u president donald trump mo...
5128     washington reuters foreigner aiming temporary ...
17281    wow big telling truth eb visa program departme...
5783     tuesday president obama visited wounded ill so...
Name: text, Length: 35000, dtype: object

In [79]:
y

9482     1
17796    0
3358     1
10323    0
17343    1
        ..
12131    0
1207     0
5128     0
17281    1
5783     1
Name: label, Length: 35000, dtype: int64

In [80]:
from sklearn.model_selection import train_test_split

In [81]:
train_data,test_data,train_label,test_label=train_test_split(X,y,test_size=0.2,random_state=0)

In [83]:
vec_train_data=vectorizer.fit_transform(train_data)

In [36]:
vec_train_data=vec_train_data.toarray()

In [87]:
vec_test_data=vectorizer.fit_transform(test_data)

In [88]:
vec_test_data=vec_test_data.toarray()

In [89]:
vec_train_data.shape,vec_test_data.shape

((28000, 50000), (7000, 50000))

In [90]:
vec_train_data

<28000x50000 sparse matrix of type '<class 'numpy.float64'>'
	with 5738407 stored elements in Compressed Sparse Row format>

In [91]:
vec_test_data

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [96]:
training_data=pd.Dataframe(vec_train_data,columns=vectorizer.get_feature_name())
testing_data=pd.Dataframe(vec_test_data,columns=vectorizer.get_feature_name())

AttributeError: module 'pandas' has no attribute 'Dataframe'

In [94]:
training_data

NameError: name 'training_data' is not defined

# Model

In [97]:
from sklearn.naive_bayes import MultinomialNb

ImportError: cannot import name 'MultinomialNb' from 'sklearn.naive_bayes' (C:\Users\ADMIN\anaconda\lib\site-packages\sklearn\naive_bayes.py)

In [98]:
clf=MultinomialNB()

NameError: name 'MultinomialNB' is not defined

In [99]:
clf.fit(training_data,train_label)

NameError: name 'clf' is not defined

In [100]:
y_pred=clf.predict(testing_data)

NameError: name 'clf' is not defined

In [101]:
test_label

14507    0
20350    0
4567     1
22222    1
16733    0
        ..
11294    0
17357    1
273      1
3248     1
15685    1
Name: label, Length: 7000, dtype: int64

In [102]:
y_pred

NameError: name 'y_pred' is not defined

In [103]:
from sklearn.metrics import accuracy_score

In [104]:
accuracy_score(test_label,y_pred)

NameError: name 'y_pred' is not defined

In [105]:
y_pred_train=clf.predict(testing_data)

NameError: name 'clf' is not defined

In [106]:
accuracy_score(train_label,y_pred_train)

NameError: name 'y_pred' is not defined

In [107]:
txt="As U.S. budget fight looms, Republicans flip their fiscal script"

In [108]:
news=clean_data(txt)

NameError: name 'clean_data' is not defined

In [109]:
news

NameError: name 'news' is not defined

In [110]:
pred=clf.predict(vectorizer.tranform([news]).toarray())

NameError: name 'clf' is not defined

In [111]:
pred

NameError: name 'pred' is not defined

In [113]:
txt=input("Enter News")
news=clean_row(str(txt))
pred=clf.predict(vectorizer.transform([news].toarray()))
if pred==0:
    print("News is correct")
else:
    print("News is incorrect")

Enter News"As U.S. budget fight looms, Republicans flip their fiscal script

NameError: name 'clf' is not defined